/*
cd /d D:/Projects/Enades/site
sass --watch --style compressed scss/input.scss:css/style-site.css
 */

@charset "UTF-8";
@import "framework/bootstrap/bootstrap";
@import "framework/font-awesome/font-awesome";
@import "variaveis";
@import "mixins";
@import "layout/topo";
@import "layout/conteudo";
@import "layout/menu";
@import "layout/contraste";
@import "layout/rodape";
body {
    font: normal normal 16px/1.5 sans-serif;
    background: #28313A
}
