.principal {
    background: $body-bg;
    @extend .container;
    @include clearfix;
    @include border-radius(em(10));
    border: em(1) solid #E5E5E5;
    @include box-shadow(em(5) em(5) em(10) 0 rgba(0, 0, 0, 0.5));
    .titulo-secao {
        @extend .page-header;
    }
    section.conteudo {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(7);
        @include make-lg-column(8);
    }
    section.conteudo,
    aside {
        padding: em(20) em(16) em(5);
        & h2,
        & h3 {
            font-size: em(24);
            color: #28313a;
            letter-spacing: -0.063em;
            margin: 0 0 em(20) 0;
        }
    }
    aside {
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                margin: 0 0 em(25) 0;
                padding: 0 0 em(14) 0;
                border-bottom: em(1) dashed #DFE1E0;
                p {
                    margin-bottom: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }
        }
    }
}
.conteudo {
    img {
        @extend .img-responsive;
        @extend .img-circle;
    }
}
blockquote {
    display: block;
    padding: em(20) 0 0 em(90);
    margin: 0;
    position: relative;
    border-left: none;
    font-size: em(16);
    font-size: (em(16) - 2);
    p {
        padding: 0;
        margin: 0;
    }
    &:before {
        content: "\201C";
        font-family: Georgia, serif;
        font-size: em(150);
        font-weight: bold;
        color: #28313A;
        opacity: 0.03;
        position: absolute;
        left: 0;
        top: 0;
        line-height: 1;  
    }
    &:after {
        content: "";
    }
}
