body {
    &.contraste {
        & * {
            color: $body-bg !important;
        }
        &,
        & .principal,
        & footer,
        & header,
        & nav.menu ul {
            background: #000;
            border-color: #000;
        }
        header figure {
            background: #000 url('../img/logo/associadosdainclusao-logo-negativo.svg') center no-repeat;
            border-color: #000;
        }
        nav.menu {
            ul {
                li {
                    border: none;
                    &.ativa,
                    &:hover {
                        border-bottom: em(1) solid #fff;
                        border-radius: 0;
                        background: none;
                    }
                }
            }
        }
    }
}
.no-svg body.alto-contraste header figure {
    background: #000 url('../img/logo/associadosdainclusao-logo-negativo.png') center no-repeat;
}
