nav {
    ul {
        margin: 0;
    }
}

nav.menu {
    @extend .container;
    margin-top: - em(70);
    padding-right: 0 !important;
    padding-left: 0 !important;
    ul {
        @include box-shadow(em(5) em(5) em(10) 0 rgba(0, 0, 0, 0.5));
        @include gradient-horizontal(#216087, #014a7d);
        @include border-radius(em(10));
        @include clearfix();
        border: em(2) solid rgba(0, 0, 0, 0.3);
        padding: 0;
        font-size: em(14);
        text-transform: uppercase;
        @extend .nav-justified;
        li {
            border-left: em(1) solid rgba(1, 54, 90, 0.3);
            padding-right: 0 !important;
            padding-left: 0 !important;
            list-style: none;
            a {
                color: $body-bg;
                display: block;
                padding: em(25) em(15);
                text-decoration: none;
            }
            &:first-child {
                border-left-color: transparent;
            }
            &:hover {
                background: #17435F;
                a {
                    color: $body-bg;
                    text-decoration: none;
                }
            }
            &.ativa:first-child,
            &:hover:first-child {
                @include border-radius(em(10) 0 0 em(10));
            }
            &.ativa:last-child,
            &:hover:last-child {
                @include border-radius(0 em(10) em(10) 0);
            }
            &.ativa {
                background: #17435F;
                color: $body-bg;
                text-align: center;
                font-weight: bold;
            }
        }
    }
}

nav.menu-acessibilidade {
    @extend .container;
    margin: em(32) auto;
    ul {
        @extend .nav-justified;
        @include make-xs-column(12);
        @include make-sm-column(4);
        @include make-md-column(4);
        @include make-lg-column(4);
        @extend .pull-right;
        @include clearfix;
        text-align: right;
        li {
            a {
                @include square(100%);
                display: block;
            }
            min-width: em(45);
            height: em(25);
            @include border-radius(em(4));
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            &.fonte-maior {
                background-image: url('../img/svg/fonte-maior.svg');
            }
            &.fonte-padrao {
                background-image: url('../img/svg/fonte-padrao.svg');
            }
            &.fonte-menor {
                background-image: url('../img/svg/fonte-menor.svg');
            }
            &.contraste {
                background-image: url('../img/svg/contraste.svg');
            }
            &.mapa-site {
                background-image: url('../img/svg/sitemap.svg');
            }
        }
    }
}

.migalha-pao {
    @extend .breadcrumb;
    @extend .container;
    background: none;
    padding: 0;
    color: $body-bg;
    a {
        color: $body-bg;
    }
    ol {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            display: inline-block;
            padding: 0;
            @extend .pull-left;
            &.indicador {
                opacity: .8;
            }
            &.indicador:after,
            &.pagina-atual:after {
                content: " ";
                padding-right: em(16);
            }
            &+li:after {
                padding: 0 em(16);
                color: #ccc;
                content: "/\00a0";
            }
            a {
                font-weight: bold;
            }
        }
    }
}
