.selos {
    margin: em(80) auto;
    text-align: center;
    a {
        margin: 0 em(16)
    }
    a,
    img {
        @include size(em(88), em(31));
        display: inline-block;
    }
    .pageseguro {
        width: em(350);
        margin: em(15) auto;
    }
}

.rodape {
    text-align: center;
    @include border-radius(em(10));
    background: #E5E5E5;
    border: em(10) $body-bg solid;
    padding: em(32);
    margin-bottom: em(80);
    font-size: em(12);
    p {
        margin: 0
    }
    .selo-cc {
        text-align: center;
        @include clearfix;
        width: auto;
        display: inline-block;
        margin-bottom: em(12);
        img {}
    }
}
