header {
    @include gradient-vertical(#fafafa, #dcdcdc);
    @include box-shadow(0 em(10), em(25), 0, rgba(0, 0, 0, 0.4));
    border-bottom: em(5) solid $body-bg;
    margin-bottom: em(32);
    padding: em(20) 0;
    min-height: 14.688em;
    height: auto;
    @include make-row();
    @include clearfix();
}

header figure {
    @include border-radius(em(10));
    border: em(3) solid #28313A;
    padding: em(16) 0;
    height: em(135);
    text-align: center;
    background: $body-bg url('../img/logo/associadosdainclusao-logo.svg') center no-repeat;
    background-size: 50%;
    @extend .pull-left;
    @include make-xs-column(12);
    @include make-sm-column(2);
    @include make-md-column(2);
    @include make-lg-column(2);
}

.no-svg header figure {
    background: $body-bg url('../img/logo/associadosdainclusao-logo.png') center no-repeat;
}
